/*Globale indstillinger*/
body
{
	
	border-top: 1px solid #FF7F27;
	/*background-image: url('images/books.jpg');*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
	padding: 0;	
	font-family: 'Open Sans', sans-serif;
	
}

.mainmenu
{
	
	float: right;	
	margin-right: 8%;
}

footer
{
	
	
	background-color: #BAB8B8;
	width: 100%;		
	position: fixed;
    height: 2.5em;
    bottom: 0;	
	text-align: center;
	opacity: 0.85;
	z-index: 1;
}

/*Forside*/

#boxcontent
{
width:50%;
max-width:900px;
margin: 10% auto;
padding: 70px 0 45px 0;
background-color: #FBB05A;
border-radius: 20px;
opacity: 0.9;

}

#createuser 
{
	text-decoration: none; 
	color: #F72525;	
	transition: color .3s ease;
}

#createuser:hover
{
	
	color: #FF7F27;	
}

#boxcontent article
{
padding-left: 60px;
width:250px;
margin-right:45px;
font-size:14px;

}

#boxcontent article h3
{
font-family: 'Open Sans', sans-serif;
font-size:20px;
margin-bottom:10px;
margin-left:75px;
}

#boxcontent article img
{
float:left;
padding-right: 10px;
padding-bottom: 10px;
}

#boxcontent article p
{
line-height:25px;
font-family: 'Open Sans', sans-serif;
margin-left: 20px;
}

#loginsection
{
	float: right;
	margin-right: 20%;
	
}

#loginsection img
{
	width: 315px;
	height: 225px;
	border: 2px solid #FF7F27;	
}


.mainpageheader
{
	border-top: 1px solid #FF7F27;
	width: 100%;
	position: fixed;
	height: 110px;
	background-image:url('images/waves.jpg');
	padding-left: 100px;
	border-bottom: 2px solid #FF7F27;
	z-index: 1;
}

.login
{
	position: relative;
	text-align: left;
	display: block;
	list-style-type: none;
}

#dialog

/*Profilside*/

.profilecontent
{
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	background-color: #FBB05A;
	border-radius:10px;
	padding-top: 3px;
	padding-left: 50px;
	opacity: 0.85;	
}

/*Search for media*/

.searchcontent
{
	min-height: 400px;
	height: 100%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;	
	width: 70%;
	background-color: #FBB05A;
	border-radius:10px;
	padding-top: 30px;
	padding-left: 50px;
	padding-bottom: 10px;
	opacity: 0.96;
	z-index: 0;
	
}
.mainmenu ul
{
	
	list-style-type: none;
	text-align: right;
}

.mainmenu li
{
	display: inline;
	padding: 0px 12px 0px 0px;	
	margin: 0px;	
}

.mainmenu a
{
	text-decoration: none; 
	color: #000000;	
	transition: color .3s ease;
}

.mainmenu a:hover
{
	
	color: #FF7F27;	
}

.leftSection
{
	float: left;
	max-width: 222px;
	width: 100%;

	margin-right: 20px;
}

#accordion h3,
#search_accordion h3
{
	padding: 10px;
	margin: 0px 0px 5px 0px;
	background: #B4A9A9;
	border: 1px solid #8D8888;
	width: 100%;
	cursor: pointer;
	cursor: cursor;
}

.accContainer
{
	padding: 10px;
	margin: 0px 0px 5px 0px;
	overflow: hidden;
	background: #AFAFAF;
	width: 100%;
	
}

.accContainer ul
{
	display: inline;
	list-style-type: none;
	text-align: left;
}

.accContainer ul li
{
	float: left;
	padding: 0px 120px 0px 0px;
	margin: 0px;
}

.accContainer li a
{
	text-decoration: none; 
	color: #000000;
	
}

.accContainer li a:hover
{
	text-decoration: underline; 
	color: #FF7F27;
	
}

/*Right section*/

.rightSection
{
	float: left;
	margin: auto;
	
}

.rightSection li  
{
	float: left;
	display: inline;
	padding: 5px;
	margin: auto;
}

.criteria
{
	text-align: right;
	margin-left: 100px;
}

.searchResults
{
	
	border: 1px solid #000000;
	width: 500px;
	height: 300px;
	padding-left: 5px;
	margin-bottom: 10px;
	
	margin: 0 auto;
	
}

.searchResults  dd
{
	padding-bottom: 5px;
}

.searchResults  a
{
	text-decoration: none; 
	color: #000000;	
}

.searchResults  a:hover
{
	
	text-decoration: underline; 
	color: #FF7F27;
}

.searchResults dt
{
	margin: 0px 0px 5px 0px;
	float: center;
}


