.centersection {
	width: 284px;
	padding: 30px;
}

.centersection input[type="text"],
.centersection input[type="password"] {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 14px;
	width: 164px;
	height: 20px;
	font-size: 20px;
}

.centersection input[type="submit"] {
	padding: 10px;
	border-radius: 14px;
	width: 188px;
	height: 46px;
	font-size: 20px;
	font-family: open-sans;
	color: black;
	text-shadow: rgb(124, 120, 120) 1px 1px 8px;


	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}

.centersection input[type="submit"]:hover {
	background: #e3f0f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #e3f0f7 0%, #c4dfed 49%, #b1cee2 51%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3f0f7), color-stop(49%,#c4dfed), color-stop(51%,#b1cee2), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e3f0f7 0%,#c4dfed 49%,#b1cee2 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e3f0f7 0%,#c4dfed 49%,#b1cee2 51%,#f5f7f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e3f0f7 0%,#c4dfed 49%,#b1cee2 51%,#f5f7f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e3f0f7 0%,#c4dfed 49%,#b1cee2 51%,#f5f7f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f0f7', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */


}